.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;     /* 위쪽 패딩 */
    padding-bottom: 0px;   /* 아래쪽 패딩 */
    padding-left: 20px;     /* 왼쪽 패딩 */
    padding-right: 20px;    /* 오른쪽 패딩 */
}

.about-container img {
    width: 800px;    /* 고정 너비 */
    height: auto;    /* 비율 유지 */
}
